* {
  /* border: 1px solid black; */
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}

h1,
h2,
h3 {
  color: rgb(19, 128, 145);
}

h1 {
  /*Selects all <h1>*/
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /*1.5 times the font size*/
}

li {
  font-size: 20px;
}

/* Descendant selector, will select all <p> in <footer>
footer p {
  font-size: 16px;
}

Nested descendant selector
article header p {
  font-style: italic;
}
*/

/*Selecting by id as used in the html file*/
#author {
  font-style: italic;
  font-size: 18px;
  border-left: 3px solid darkolivegreen;
  border-right: 3px solid darkolivegreen;
  text-align: center;
}

#copyright {
  font-size: 18px;
}

/*Selecting by class as used in the html file*/
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid darkslategrey;
  border-bottom: 5px solid darkslategray;
}

body {
  background-color: lightsteelblue;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  /* color: brown; */
}

/* Won't work cause it selects the first child and checks for p
instead of selecting the first p in article */
article p:first-child {
  color: indigo;
}

/* Styling a hyperlink , priority conflicts .>:>#>n

a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
 */

/* nav a:link {
  font-size: 18px;
} */

nav {
  font-size: 18px;
}
