* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  letter-spacing: -1px;
  /*font: ;*/
  font-weight: 500;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  background-color: #bfbfbf;
  padding: 20px;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.price {
  font-size: 22px;
}

.pricefooter {
  font-size: 14px;
  color: #6f6f6f;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}
a:link {
  color: #000;
}

.more-info:link,
.more-info:visited {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

button {
  border: none;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  background: #000;
  border-top: 3px solid black;
  width: 825px;
  margin: 0;
  padding: 10px;
}

button:hover {
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
  background: #fff;
  border-top: 3px solid black;
  cursor: pointer;
}

.details-list {
  list-style: square;
  margin: 5px;
}

li {
  margin: 15px;
}
.container {
  width: 825px;
  margin: 0 auto;
}

.shopitem {
  border: 3px solid #000;
  width: 825px;
  margin: 50px auto;
  position: relative;
}
.shopitem::before {
  position: absolute;
  content: "SALE";
  background-color: #ff0000;
  left: -50px;
  top: -15px;
  letter-spacing: 2px;
  padding: 5px 15px;
  font-weight: bold;
  color: #ffffff;
}

.colors {
}
.colors:last-child {
  margin-right: 0;
}

.color {
  height: 22px;
  width: 22px;
  background-color: #000;
  display: inline-block;
  margin-right: 10px;
}

.color-black {
  background-color: black;
}
.color-blue {
  background-color: blue;
}
.color-red {
  background-color: red;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-brown {
  background-color: brown;
}

.product-image {
  float: left;
}

.product-mid {
  float: left;
  width: 225px;
  margin: 0 40px;
  margin-top: 30px;
}

.product-right {
  float: right;
  width: 225px;
}

.shipping-tag {
  float: right;
  display: inline-block;
}

.price {
  display: inline-block;
  margin-bottom: 25px;
}
